@import "_font.scss";

$color_font_project : #6889A5;
$color_text : #EBECDC;
$color_dark:#2D1E1E;
$padding_text-Endless: 150px;

*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: "roboto";
    
}
.header {
    background-color: $color_font_project;
    padding-top: 20px;
    padding-bottom: 45px;
    &__list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        align-items: center;
      
    }
    &__list:first-child{
        flex: 2 120px;
    }

    &__list-style {
        margin-left: 20px;
        margin-right: 20px;
    }

    &__item {
        color: #fff;
        font-size: 13px;
        margin: 0 10px;
       
    }
    &__item:nth-child(2){
        font-size: 32px;
        flex: 1 1 90px;
        text-align: center;
    }
    &__item-basket{
       
        text-align: right;

    }
    &__item-mainheading{

    }
    &__item-arrow{
        display: flex;
        width: 70px;
        justify-content: space-between;
        align-items: center;
    
    }
    &__arrow-reverse{
        transform: rotate(-180deg);
    }
    &__content_arrow{
        position: absolute;
        background-color: #36363688 ;
        padding: 12px;
        top: 20px;
        left: -18px;
    }
    #arrow{
        position: relative;
    }
}

.Endless {
    background-color: $color_font_project;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 64px;
    &__item {
        flex: 1;
        
    }

    &__text {
       

    }
    &__item-first{
         padding-top:20px;
        padding-left:$padding_text-Endless ;
    }

    &__text-span {
        font-size: 13px;
        color: $color_text ;
        margin-bottom: 35px;
    }

    &__text-h3 {
        font-size: 48px;
        color: $color_text ;
        line-height: 57px;
        margin-bottom: 40px;
        width: 247px;
    }

    &__text-lorem {
        max-width: 370px;
        min-width: 320px;
        font-size: 16px;
        line-height: 19px;
        text-align-last: left;
        color:$color_text ;
    }
    &__item:last-child{
        // width: 600px;
        // flex-basis: 300px;
        text-align: right;
    }
    &__img {
        width: 100%;
        font-size: 10px;
        text-align: right;
        img{
            max-width: 100%;
            // object-fit: cover;
            text-align: right;
           
        }
    }
}
.Best_Selling {
    color: $color_dark;
    &__heading {
        font-size: 24px;
        color: $color_dark;
    }
    &__heading-text{
        margin: 30px 0 40px $padding_text-Endless;
    } 
    &__list {
        border-bottom: 1px solid $color_dark;
        display: flex;
        margin-bottom: 15px;
        padding-bottom: 15px;
        margin-left: 16px;
        margin-right: 16px;
        justify-content: space-around;
    }

    &__item {
        width: 280px;
        margin: 0 8px;
    }
    &__item:first-child {
        margin-left: 0px;
    }
    &__item:last-child{
        margin-right: 0px;
    }
    &__img {
        width: 280px;
        img{
            max-width: 100%;
        }
    }

    &__specifications {
        display: flex;
        justify-content: space-between;
        margin-bottom: 56px;
        
        font-size: 16px;
    }

    &__made {
        font-size: 13px;
        line-height: 20px;
        text-transform: uppercase;
        height: 105px;
        p{
             max-width: 200px;
        }
        
    }
    &__madeHeading{
         width: 56px;  
    }
    &__sizeSelection {
        display: flex;
        text-transform: uppercase;

    }
    
    &__sizeSelectionItem{
        margin: 0 10px;
    }
    &__sizeSelectionItem-disable{
        color: #CAC7B8;

    }
    &__sizeSelectionItem:first-child{
        margin-left: 0;
    }
}

.shopSelected {
    display: flex;
    &__item {
        flex: 0 auto;
        position: relative;
        width: 100%;
        img{
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }

    &__itemText {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: $color_text;
        font-size: 34px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.Accept {
    background: #EBECDC;
    height: 280px;
    &__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 100%;

    }

    &__btn {
        border: none;
        font-size: 16px;
        color: $color_dark;
        margin-top: 58px;
        margin-bottom: 16px;
        margin-left: 134px;
        background: inherit;
    }

  
}

.label-checkbox{
    display: flex;
    justify-content: center;
    #checkbox{
        width: 16px;
        height: 16px;
        border: 1px solid #000;
        margin-right: 10px;
    }
    input[type=checkbox]{
        display: none;
    }
    input[type=checkbox]:checked+div{
        background-color: #1cdc35;
        background-image: url(../image/icon/header_arrow.svg);
        // transform: rotate(-180deg);
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid rgb(35, 149, 13);
    }
}
.devol {
    background-image: url(../image/devolDon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 543px;
    text-align: left;
    display: flex;
    justify-content: end;
    &__item {
        width: 330px;
    }
    &__item-style{
        margin-right: 100px;
        margin-top: 100px;
    }
    &__hedear {
        font-size: 36px;
        color: #fff;
        width: 289px;
        margin-bottom: 55px;
    }

    &__text {
        line-height: 16.5px;
        font-size: 13px;
        color: #fff;
        margin-bottom: 90px;
    }

    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        color: #fff;
        line-height: 16.5px;
    }
    &__items{
       margin: 15px 0;
    }
}

.footer {
    display: flex;
    height: 315px;
    justify-content: space-between;
    margin: 25px 15px;
    padding-right: 30px;
    color: $color_dark;
    &__item {
        
    }
    &__h5{
        font-size: 32px;
        line-height: 35px;
        width: 50px;
        margin-bottom: 40px;
    }
    &__text {
        width: 273px;
    }

    &__icons {
        display: flex;
    }

    &__icon {
        list-style-type: none;
        margin-right: 13px;
        
    }
    &__item:last-child{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__listSpan{
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }
    &__itemSpan{
        font-size:16px  ;
        margin-bottom: 12px;
    }
    &__itemSpan:last-child{
        margin-top: 20px;
    }
    &__it{
        font-size: 24px;
        list-style-type: none;
        margin-bottom: 17px;
    }
}
