@import "_font.scss";

$color_font_project : #6889A5;
$color_text : #EBECDC;
$padding_text-Endless: 150px;
*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: "roboto";
    
}
.header {
    background-color: $color_font_project;
    padding-top: 20px;
    padding-bottom: 45px;
    &__list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        align-items: center;
      
    }
    &__list:first-child{
        flex: 2 120px;
    }

    &__list-style {
        margin-left: 20px;
        margin-right: 20px;
    }

    &__item {
        color: #fff;
        font-size: 13px;
        margin: 0 10px;
       
    }
    &__item:nth-child(2){
        font-size: 32px;
        flex: 1 1 90px;
        text-align: center;
    }
    &__item-basket{
       
        text-align: right;

    }
    &__item-mainheading{

    }
    &__item-arrow{
        display: flex;
        width: 70px;
        justify-content: space-between;
        align-items: center;
    
    }
    &__arrow-reverse{
        transform: rotate(-180deg);
    }
    &__content_arrow{
        position: absolute;
        background-color: #36363688 ;
        padding: 12px;
        top: 20px;
        left: -18px;
    }
    #arrow{
        position: relative;
    }
}

.Endless {
    background-color: $color_font_project;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
        flex: 1;
        
    }

    &__text {
       

    }
    &__item-first{
         padding-top:$padding_text-Endless;
        padding-left:$padding_text-Endless ;
    }

    &__text-span {
        font-size: 13px;
        color: $color_text ;
        margin-bottom: 35px;
    }

    &__text-h3 {
        font-size: 48px;
        color: $color_text ;
        line-height: 57px;
        margin-bottom: 50px;
        width: 247px;
    }

    &__text-lorem {
        max-width: 370px;
        min-width: 320px;
        font-size: 16px;
        line-height: 19px;
        text-align-last: left;
        color:$color_text ;
    }
    &__item:last-child{
        // width: 600px;
        // flex-basis: 300px;
        text-align: right;
    }
    &__img {
        width: 100%;
        font-size: 10px;
        text-align: right;
        img{
            max-width: 100%;
            // object-fit: cover;
            text-align: right;
           
        }
    }
}

.Endless {
    padding-bottom: 64px;
    &__item {
    }

    &__item-first {
    }

    &__text {
    }

    &__text-span {
    }

    &__text-h3 {
    }

    &__text-lorem {
    }

    &__img {
    }
}
.Best {

    &_Selling {
    }
}
.Best_Selling {
    color: #2D1E1E;
    &__heading {
    }

    &__list {
        border-bottom: 1px solid #2D1E1E;
        display: flex;
    }

    &__item {
        width: 280px;
        margin: 0 8px;
    }
    &__item:first-child {
        margin-left: 16px;
    }
    &__item:last-child{
        margin-right: 16px;
    }
    &__img {
        width: 280px;
        img{
            max-width: 100%;
        }
    }

    &__specifications {
        display: flex;
        justify-content: space-between;
        margin-bottom: 56px;
        
        font-size: 16px;
    }

    &__made {
        font-size: 13px;
        line-height: 20px;
        text-transform: uppercase;
        height: 105px;
        p{
             max-width: 200px;
        }
        
    }
    &__madeHeading{
         width: 56px;  
    }
    &__sizeSelection {
        display: flex;
        text-transform: uppercase;

    }
    
    &__sizeSelectionItem{
        margin: 0 10px;
    }
    &__sizeSelectionItem-disable{
        color: #CAC7B8;

    }
    &__sizeSelectionItem:first-child{
        margin-left: 0;
    }
}

