<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
 
    <title>Document</title>
</head>
<body>
    <header class="header">
        <ul class="header__list header__list-style">
            <li class="header__item"><img src="./image/icon/logo.svg" alt="logo"></li>
            <li class="header__item header__item-mainheading">Women Men</li>
            <li class="header__item">Our Heritage</li>
            <li class="header__item">Care</li>
            <li class="header__item">Collections</li>
            <li class="header__item">Responsibility</li>
            <li class="header__item header__item-arrow" v-on:click="showArrow" id="arrow">
                    {{msg}}
                 <img v-if="activeElementArrow"   src="./image/icon/header_arrow.svg" alt="">
                 <img v-else class="header__arrow-reverse"  src="./image/icon/header_arrow.svg" alt="">
                 <template v-if="!activeElementArrow" >
                    <div class="header__content_arrow">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolorem rem quam, praesentium hic quia at sunt eos optio incidunt cumque!
                    </div>
                 </template>
                 
                
                </li>
            <li class="header__item header__item-basket "><img src="./image/icon/basket.svg" alt="basket"></li>
            
        </ul>
    </header>
    <main class="main">
        <div class="Endless">
            <div class="Endless__item Endless__item-first">
                <div class="Endless__text Endless__text-span">
                    FW22 collection
                </div>
                <div class="Endless__text Endless__text-h3">
                    An Endless Pursuit of Nature
                </div>
                <div class="Endless__text Endless__text-lorem">
                    In 1853 Ole Andreas Devold embarked on his journey, and since then our wool has been formed in the roughest conditions. Today, we build on our tradition of mastering wool. Relying on our dedication to craftmanship, we develop the finest quality from the most robust material. Crafted to withstand storms and to comfort on late summer nights. With profound care for nature, we create knitwear that lasts, that can be passed on – a legacy for times to come.
                </div>
            </div>
            <div class="Endless__item">
                <div class="Endless__img">
                    <img src="./image/background_header.png" alt="">
                </div>
            </div>
        </div>
        <div class="Best_Selling">
            <div class="Best_Selling__heading Best_Selling__heading-text ">
                O.A.D. Best Selling knitwear
            </div>
            <div class="Best_Selling__list">
                <div class="Best_Selling__item">
                    <div class="Best_Selling__img">
                        <img src="./image/HORD.jpg" alt="img">
                    </div> 
                    <div class="Best_Selling__specifications">
                        <span>Nord</span>
                        <span>500 EUR</span>
                    </div>
                    <div class="Best_Selling__made">
                        <p class="Best_Selling__madeHeading">MADE OF</p>
                        <p>100% NORWEGIAN WOOL</p>
                    </div>
                    <div class="Best_Selling__sizeSelection">
                        <p class="Best_Selling__sizeSelectionItem">s</p>
                        <p class="Best_Selling__sizeSelectionItem">m</p>
                        <p class="Best_Selling__sizeSelectionItem">xl</p>
                    </div>
                </div>
                <div class="Best_Selling__item">
                    <div class="Best_Selling__img">
                        <img src="./image/ole.jpg" alt="img">
                    </div> 
                    <div class="Best_Selling__specifications">
                        <span>Ole No. 1</span>
                        <span>820 EUR</span>
                    </div>
                    <div class="Best_Selling__made">
                        <p class="Best_Selling__madeHeading">MADE OF</p>
                        <p>55% FINE MERINOL</p>
                        <p>32% KID MOHAIR</p>
                        <p>13% SILK</p>
                    </div>
                    <div class="Best_Selling__sizeSelection">
                        <p class="Best_Selling__sizeSelectionItem">XS</p>
                        <p class="Best_Selling__sizeSelectionItem">S</p>
                        <p class="Best_Selling__sizeSelectionItem">M</p>
                        <p class="Best_Selling__sizeSelectionItem">L</p>
                    </div>
                </div>
                <div class="Best_Selling__item">
                    <div class="Best_Selling__img">
                        <img src="./image/ole2.jpg" alt="img">
                    </div> 
                    <div class="Best_Selling__specifications">
                        <span>Ole No. 2</span>
                        <span>820EUR</span>
                    </div>
                    <div class="Best_Selling__made">
                        <p class="Best_Selling__madeHeading">MADE OF</p>
                        <p>55% FINE MERINOL</p>
                        <p>32% KID MOHAIR</p>
                        <p>13% SILK</p>
                    </div>
                    <div class="Best_Selling__sizeSelection">
                        <p class="Best_Selling__sizeSelectionItem">s</p>
                        <p class="Best_Selling__sizeSelectionItem">m</p>
                        <p class="Best_Selling__sizeSelectionItem">l</p>
                        <p class="Best_Selling__sizeSelectionItem Best_Selling__sizeSelectionItem-disable">xl</p>
                    </div>
                </div>
                <div class="Best_Selling__item">
                    <div class="Best_Selling__img">
                        <img src="./image/ole3.jpg" alt="img">
                    </div> 
                    <div class="Best_Selling__specifications">
                        <span>Blaatrøie No. 4</span>
                        <span>500 EUR</span>
                    </div>
                    <div class="Best_Selling__made">
                        <p class="Best_Selling__madeHeading">MADE OF</p>
                        <p>100% NORWEGIAN WOOL</p>
                        <p>CASHMERE LINING IN NECK</p>
                    </div>
                    <div class="Best_Selling__sizeSelection">
                        <p class="Best_Selling__sizeSelectionItem">s</p>
                        <p class="Best_Selling__sizeSelectionItem">m</p>
                        <p class="Best_Selling__sizeSelectionItem">xl</p>
                    </div>
                </div>
                
                

            </div>
        </div>
        <div class="shopSelected">
            <div class="shopSelected__item">
                <img src="image/shop-women.jpg" alt="shop-women">
                <div class="shopSelected__itemText">
                    Shop Women
                </div>
            </div>
            <div class="shopSelected__item">
                <img src="image/shop-men.jpg" alt="">
                <div class="shopSelected__itemText">
                    Shop Men
                </div>
            </div>
        </div>
        <div class="Accept">
            <div class="Accept__item">
                <p>Get 10% off on your next online order.</p>
                <p>Join our newsletter to receive updates on O.A.D. collections, events and new arrivals.</p>
                <button class="Accept__btn ">SIGN UP</button>
                <label class="label-checkbox"><input type="checkbox"><div id="checkbox"></div> I accept the <span>O.A.D. privacy policy.</span></label>
            </div>
        </div>
        <div class="devol">
            <div class="devol__item devol__item-style">
                <div class="devol__hedear">
                    A Legacy of Wool Since 1853
                </div>
                <div class="devol__text">
                    Using our knowledge, rooted in our Devold heritage, we continue the tradition of mastering wool.
                </div>
                <ul class="devol__list">
                    <li class="devol__items">Read more:</li>
                    <li class="devol__items">Our Heritage</li>
                    <li class="devol__items">Devold of Norway</li>
                </ul>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__item"><img src="./image/icon/logoDark.svg" alt=""></div>
        <div class="footer__item">
            <h5 class="footer__h5" >Men
                Women</h5>
            <ul class="footer__list">
                <li class="footer__it">Our Heritage</li>
                <li class="footer__it">Care</li>
                <li class="footer__it">Collections</li>
                <li class="footer__it">Responsibility</li>
            </ul>
        </div>
        <div class="footer__item">
            <ul class="footer__listSpan">
                <li class="footer__itemSpan">Stores and Showroom</li>
                <li class="footer__itemSpan">Shipping & Delivery</li>
                <li class="footer__itemSpan">Returns & Exhanges</li>
                <li class="footer__itemSpan">Terms & Conditions</li>
                <li class="footer__itemSpan">Privacy Policy</li>
                <li class="footer__itemSpan">Cookies</li>
                <li class="footer__itemSpan">Customer service</li>
                <li class="footer__itemSpan">Devold of Norway</li>
            </ul>
        </div>
        <div class="footer__item">
            <div class="footer__text">
                Newsletter
                Collections, events and new arrivals
                Get 10% off on your next online order.  
            </div>
            <label class="label-checkbox"><input type="checkbox"><div id="checkbox"></div> I accept the <span>O.A.D. privacy policy.</span></label>
            <ul class="footer__icons">
                <li class="footer__icon"><img src="./image/icon/insta.svg" alt=""></li>
                <li class="footer__icon"><img src="./image/icon/in.svg" alt=""></li>
              
            </ul>
        </div>

    </footer>
   
<script src="./js/vue.js"></script>
</body>
</html>